ion-tab-bar{
    //  --background:#F4FAF6;
     --ion-color-base: transparent !important;
    //  --background: transparent;
    --color-selected: #3F9B99 !important;
      // opacity:0.5;
      ion-tab-button{
        --background:#eef2ee;
        --color-selected: #3F9B99 !important;
  
    }
    position: absolute;
    bottom: 0px;
    width: 100%;
    // ion-tab-button:first-child{
    //     --background: transparent;
    // }
  } 